<%- include('../../partials/header.ejs') %> 
<body>
  <%- include('../../partials/navbar-admin.ejs') %> 
  <div class="container">
    <br>
    <br>
    <div style="display: flex; justify-content: space-between;">
      <h2>Categorias</h2> 
      <a style="height: 40px;" class="btn btn-primary" href="/admin/categories/new">✚ Nova categoria</a>
    </div>
    <hr>
    <br>
    <table class="table table-bordered table-hover">
      <caption>Total de categorias cadastradas: <%= categories.length %></caption> 
      <thead class="table-success">
        <tr>
          <th>#ID</th>
          <th>Título</th>
          <th>Slug</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody class="table-light">
        <% categories.forEach(category => { %>
          <tr>
            <th><%= category.id %> </th>
            <th><%= category.title %> </th>
            <th><%= category.slug %> </th>
            <th>
              <a href="/admin/categories/edit/<%= category.id %>"><button class="btn btn-warning" value="<%= category.id %> ">Editar</button></a>
              <form onsubmit="confirmDelete(event)" method="POST" action="/categories/delete" style="display: inline;">
                <input type="hidden" name="id" value="<%= category.id %>" >
                <button class="btn btn-danger">Deletar</button>
              </form>
            </th>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
  
  <script>
    function confirmDelete(event) {
      const confirmation = window.confirm('Deseja realmente deletar essa categoria?');

      if(!confirmation) {
        event.preventDefault();
      }
    }
  </script>
</body>
<%- include('../../partials/footer.ejs') %> 